.menu_item{
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;
    &:hover{
        background: rgba(22, 24, 35, .03);
        border-radius: 8px;
    }
    &.active{
        color: var(--primary);
        .icon{
            display: none;
        }
        .active-icon{
            display: flex;
        }
    }
}
.title{
    margin-left: 10px;
}
.icon,.active-icon{
    display: flex;
}
.active-icon{
    display: none;
}